<div class="container-fluid" id="aboutusContainer">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="" id="aboutus">
                <div class="jumbotron">
                    <h1 class="h1-responsive">Hello, Nashik!</h1>
                    <p class="lead">Redgini is Nasik’s first online cake and pastry shop. We are here to serve sweet tooth hunger of Nasik
                        keeping the delicious sweet just a click away. We provide people here a provision to order cakes
                        and pastries online and facilitate home delivery for the same. Our menu includes mouth-watering varieties
                        for it. We follow the principle - ‘Give The Best’ and strive hard to work for the same keeping a
                        guaranteed taste.</p>
                    <hr class="my-2">
                    <a class="btn customColorBtn btn-sm waves-effect" role="button">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <p id="zomatoFoodIndexHeader">Follow us on...</p>
            <hr>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12">
                    <p id="zomatoFoodIndexHeader">Instagram</p>
                    <div id="instaQR">
                        <a href='https://www.instagram.com/redgini.cake.pastry/'>
                            <img src='https://www.unitag.io/qreator/generate?crs=e2ZRfLkGhCcNX0uPU0VF3psv%252Bf3Ob5SH7gn%252BI7vD1ScFtLnmBa7IedK8uUREEatiH6vdUOU6Z69yiDf4U6Gf6KN7MLO9VWBF%252FFmXZgwV8C7HQyYOkFvwyqzsu8AVVphHfA3lGyf2NEoiFB5Ry%252BWvtH3lcrNHJIFcPzGHCTueZ69sKTBd0fxecCk7d9OyaHDI%252FMtoLG6kmYx5OCTWJVwJlBg%252BDrYIGB8tg%252BHU9PFFb62Itrv%252BQYdNN31hVYnXzVgDslEWWdBponqOvJ2JY2aQUOfl4hDXf9Sk3GYxeG3KsPm2TKdFvFliNHG0779gKrIKdgUKM8KRLMeV4%252BrBIQGogA%253D%253D&crd=fhOysE0g3Bah%252BuqXA7NPQxMRbSN9LV72BeosSCmiA7aVjoQJxABxgtKArWYSeKLs2Ext6JIFaUaxFoi3Gs7qQsXn2Bn6tiKBGXx9vLH2M%252BLu6110s4f%252FsDEllovwHg7m'
                                alt='Instagram QR Code' />
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-12">
                    <p id="zomatoFoodIndexHeader">Facebook</p>
                    <div id="facebookQR">
                        <a href='https://www.facebook.com/redgini.cake.pastry/'>
                            <img src='https://www.unitag.io/qreator/generate?crs=e2ZRfLkGhCcNX0uPU0VF3psv%252Bf3Ob5SH7gn%252BI7vD1ScFtLnmBa7IedK8uUREEatiH6vdUOU6Z69yiDf4U6Gf6Iq%252Bk5YtVz7IRQA6PHtU9B%252Bz0YFw5jiODDFk%252F6VgHeMpyhkLSUkzFDaQlyPow7bKnCPqmtfQZRA%252F%252BjqWolcIGnnvqAOkkARK%252Flm%252FJLOMf5UCQpsq%252F20sj0TR5XEuKlRgfQW3S9bu7Za3cWSLt2b4dJ56yrQZyiPRQEhpuftHo5LHjiJ7DUl1GX1kN1opG5Y%252F757jlnJKZ9bVIIa0pT3a3e4XeAVkRBHNhoC0tJUqgW%252FeNtSSxMy2T8N7WzqH9SpEoIg%252BrPakzQ%252B8JJLPUmHg7uo%253D&crd=fhOysE0g3Bah%252BuqXA7NPQyDG6sTW2IXPNi%252BspXIYvyS%252Bo5N%252FyF86%252BfG%252BCUTwzmT%252F9yrNbVM0KT%252BkfHb5gg6ngWkM1XdSQmhne5gouYZXD8oZhIWld4wAzyO67IOMTzwx'
                                alt='Facebook QR Code' />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>