<div class="container page-header" id="aboutus">
    <h2>About us</h2>
    <hr class="divider">
    <p class="lead" style="text-align: center">Redgini is Nasik’s first online cake and pastry shop. We are here to serve sweet tooth hunger of Nasik keeping the delicious sweet just a click away. We provide people here a provision to order cakes and pastries online and facilitate home delivery for the same. Our menu includes mouth-watering varieties for it. We follow the principle - ‘Give The Best’ and strive hard to work for the same keeping a guaranteed taste.</p>
    <hr class="divider">
    <p style="text-align: center;font-weight: bold">Redgini is not only about making and delivering the cakes, we are about creating a wonderful place to work with. We encourage all the "Youngster of Nashik" to join us with this moment and we would love to work with them.</p>
    <hr class="style2">
</div>