<div class="container" id="aboutusContainer">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 col-12">
            <div class="" id="aboutus">
                <div class="jumbotron">
                    <h1 class="h1-responsive">Hello, Nashik!</h1>
                    <p class="lead">Redgini is Nasik’s first online cake and pastry shop. We are here to serve sweet tooth hunger of Nasik keeping the delicious sweet just a click away. We provide people here a provision to order cakes and pastries online and facilitate home delivery for the same. Our menu includes mouth-watering varieties for it. We follow the principle - ‘Give The Best’ and strive hard to work for the same keeping a guaranteed taste.</p>
                    <hr class="my-2">
                    <p><b>Redgini is not only about making and delivering the cakes, we are about creating a wonderful place to work with. We encourage all the "Youngster of Nashik" to join us with this moment and we would love to work with them.</b></p>
                    <a class="btn btn-outline-danger btn-sm waves-effect" role="button">Read more</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 col-sm-7 col-8">
            <p id="zomatoFoodIndexHeader">Ain't Nashik foodie place...</p>
            <hr>
            <div class="widget_wrap"><a href="https://www.zomato.com/nashik/panchavati-restaurants?utm_source=referral-widget&utm_medium=foodie_index_widget&utm_campaign=widget-developers" target="_newtab" title="Panchavati - Foodie Index - 3.0"><img id="zomatoFoodIndex" src="https://www.zomato.com/widgets/foodie_widget_img.php?widget_type=5&lat=19.9975&lon=73.7898" ></a> </div>
        </div>
    </div>
</div>

