{{>comingSoonModal}}
<!--====================================categories starts=================================-->
<div class="container" id="categories">
    <div class="page-header" id="cat_header">
        <h2>Categories</h2>
    </div>
    <div class="row cat_row">
        <div class="col-xs-12 col-md-4 col-sm-4 cat_boxes">
            <div class="card">
                <div class="view">
                    <img src="images/cat1.jpg" class="img-fluid cat_card_img" alt="">
                    <div class="mask flex-center waves-effect waves-light rgba-red-slight">
                        <p class="white-text"></p>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title cat_name">Cakes</h4>
                    <p class="card-text cat_desc">Checkout our regular, premium, classic, designer and fondant cakes</p>
                    <a href="/products/blackforest" class="btn btn-sm btn-outline-danger">Check</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-4 cat_boxes">
            <div class="card">
                <div class="view">
                    <img src="images/cat2.jpg" class="img-fluid cat_card_img" alt="">
                    <div class="mask flex-center waves-effect waves-light rgba-red-slight">
                        <p class="white-text"></p>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title cat_name">Pastries</h4>
                    <p class="card-text cat_desc">We are coming with some great pastries so that you can enjoy sweetness in small packet</p>
                    <a href="" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#releasingSoon">Check</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-4 cat_boxes">
            <div class="card">
                <div class="view">
                    <img src="images/cat3.jpg" class="img-fluid cat_card_img rgba-red-slight" alt="">
                    <div class="mask flex-center waves-effect waves-light rgba-red-slight">
                        <p class="white-text"></p>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="card-title cat_name">Cupcakes and more</h4>
                    <p class="card-text cat_desc">Soon we will be adding cupcakes, macaroons and many other delicacies</p>
                    <a href="" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#releasingSoon">Check</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>