<div class="modal fade" id="releasingSoon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header alert alert-danger">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Releasing soon...</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Awesome things take time...just a little wait!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--====================================categories starts=================================-->
<div class="container" id="categories">
    <div class="page-header" id="cat_header">
        <h2>Categories</h2>
    </div>
    <div class="row cat_row1">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <a href="/products/blackforest">
            <div class="card category_card shadow_depth_1">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <img class="cat_card_img d-block img-fluid img-responsive" src="images/catCake5.jpg">
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="card-block">
                            <h4 class="card-title cat_name">Cakes</h4>
                            <p class="card-text cat_desc">All types of Cakes are available</p>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="card category_card shadow_depth_1" data-toggle="modal" data-target="#releasingSoon">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                            <img class="cat_card_img d-block img-fluid img-responsive" src="images/catCake7.png">
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="card-block">
                            <h4 class="card-title cat_name">Pastries and other</h4>
                            <p class="card-text cat_desc">Pastries, cupcakes, doughnuts, macrons, etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row cat_row2">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="card category_card shadow_depth_1" data-toggle="modal" data-target="#releasingSoon">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <img class="cat_card_img" src="images/comingsoon.jpg">
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="card-block">
                            <h4 class="card-title cat_name">Special delicacies</h4>
                            <p class="card-text cat_desc">Bringing whole new taste for you...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="card category_card shadow_depth_1" data-toggle="modal" data-target="#releasingSoon">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                            <img class="cat_card_img" src="images/comingsoon.jpg">
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="card-block">
                            <h4 class="card-title cat_name">Much more...</h4>
                            <p class="card-text cat_desc">We are working on some more services!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>