{{>comingSoonModal}}
<!--====================================categories starts=================================-->
<div class="container" id="categories">
    <div class="page-header" id="cat_header">
        <h2>Categories</h2>
    </div>
    <div class="row cat_row">
        <div class="col-6 col-md-3 col-sm-4 cat_boxes">
            <div class="card">
                {{!--
                <div class="view">
                    <img src="images/cat1.jpg" class="img-fluid cat_card_img" alt="">
                    <div class="mask flex-center waves-effect waves-light rgba-red-slight">
                        <p class="white-text"></p>
                    </div>
                </div> --}}
                <img src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/cat1.jpg" class="cat_card_img"
                    alt="">
                <div class="card-body">
                    <h4 class="card-title cat_name">Cakes</h4>
                    <p class="card-text cat_desc">Checkout our regular, premium, designer and fondant cakes!</p>
                    <a href="/products/cakes" class="btn btn-sm customColorBtn">More...</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 col-sm-4 cat_boxes">
            <div class="card">
                <img src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/cat2.jpg" class="img-fluid cat_card_img"
                    alt="">
                <div class="card-body">
                    <h4 class="card-title cat_name">Toasts</h4>
                    <p class="card-text cat_desc">Explore in the toast category. Enjoy your tea with toast!</p>
                    <a href="/products/toasts" class="btn btn-sm customColorBtn">More...</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 col-sm-4 cat_boxes">
            <div class="card">
                <img src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/cat3.jpg" class="img-fluid cat_card_img rgba-red-slight"
                    alt="">
                <div class="card-body">
                    <h4 class="card-title cat_name">Khari</h4>
                    <p class="card-text cat_desc">Eat some crispy and crunchy kharis with your tea!</p>
                    <a href="/products/khari" class="btn btn-sm customColorBtn">More...</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 col-sm-4 cat_boxes">
            <div class="card">
                <img src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/cat4.jpg" class="img-fluid cat_card_img rgba-red-slight"
                    alt="">
                <div class="card-body">
                    <h4 class="card-title cat_name">Healthy Biscuits/Cookies</h4>
                    <p class="card-text cat_desc">It's Healthy biscuits
                        <b>vs</b> the glucose!</p>
                    <a href="/products/biscuits" class="btn btn-sm customColorBtn">More...</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 col-sm-4 cat_boxes">
            <div class="card">
                {{!--
                <div class="view">
                    <img src="images/cat1.jpg" class="img-fluid cat_card_img" alt="">
                    <div class="mask flex-center waves-effect waves-light rgba-red-slight">
                        <p class="white-text"></p>
                    </div>
                </div> --}}
                <img src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/cat5.jpg" class="cat_card_img"
                    alt="">
                <div class="card-body">
                    <h4 class="card-title cat_name">Breads</h4>
                    <p class="card-text cat_desc">Checkout grained, multigrained breads in the category</p>
                    <a href="" class="btn btn-sm customColorBtn" data-toggle="modal" data-target="#releasingSoon">More...</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 col-sm-4 cat_boxes">
            <div class="card">
                <img src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/cat6.jpg" class="img-fluid cat_card_img"
                    alt="">
                <div class="card-body">
                    <h4 class="card-title cat_name">Pastries</h4>
                    <p class="card-text cat_desc">Pastries are like sweetness in small packets!</p>
                    <a href="" class="btn btn-sm customColorBtn" data-toggle="modal" data-target="#releasingSoon">More...</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 col-sm-4 cat_boxes">
            <div class="card">
                <img src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/cat7.jpg" class="img-fluid cat_card_img rgba-red-slight"
                    alt="">
                <div class="card-body">
                    <h4 class="card-title cat_name">Cupcakes and more</h4>
                    <p class="card-text cat_desc">Cupcakes, macaroons and many other delicacies</p>
                    <a href="" class="btn btn-sm customColorBtn" data-toggle="modal" data-target="#releasingSoon">More...</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 col-sm-4 cat_boxes">
            <div class="card">
                <img src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/comingsoon.jpg" class="img-fluid cat_card_img rgba-red-slight"
                    alt="">
                <div class="card-body">
                    <h4 class="card-title cat_name">Specialities !</h4>
                    <p class="card-text cat_desc">Soon introducing the specialities from the places around you!</p>
                    <a href="" class="btn btn-sm customColorBtn" data-toggle="modal" data-target="#releasingSoon">More...</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>