<div class="modal fade" id="releasingSoon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header danger-color" style="color:white">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Releasing soon...</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:white">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Awesome things take time...just a little wait!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>