  <div class="container" id="contactus">
    <h2>Contact us</h2>
		<h5 style="text-align:center;">We will reach out to you as soon as possible...</h5>
		<hr class="divider">
		<div class="row">
			<div class="col-sm-3"></div>

			<div class="col-sm-6">
				<form id="contact_form" action="/sent" method="POST">

					<div class="form-group">
						<label for="form_name">Your Name</label>
						<input type="text" class="form-control form-control-sm" id="form_name" name="contactform_name" value="" placeholder="">
					</div>

					<div class="form-group">
					<label for="form_phone">Your phone</label>
 					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
	 				<div class="input-group-addon">+91</div>
            			<input type="tel" class="form-control form-control-sm" id="form_phone" placeholder="" name="contactform_phone">
					</div>
					</div>

					<div class="form-group">
						<label for="form_email">Your Email</label>
						<input type="email" class="form-control form-control-sm" id="form_email" name="contactform_email" value="" placeholder="">
					</div>

					<div class="form-group">
						<label for="form_message">Your Message</label>
						<textarea class="form-control input-sm" name="contactform_message" rows="6" cols="80" id="form_message" placeholder=""></textarea>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<button type="submit" class="btn btn-danger btn-sm" id="form_submit">Send Message</button>
						</div>
						<div class="col-sm-8">
							<div class="{{showClass}}" role="alert" id="msg_sent">
               					<strong>{{msg1}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{msg2}}
              				</div>
						</div>
					</div>

				</form>
			</div>

			<div class="col-sm-3"></div>
		</div>
		<hr class="style2">
		</div>
  </div>