<div class="container-fluid" id="counter_show">
	<h4 id="counterheader">Nashik's first online Cake shop</h4>
	<div class="row" id="counter_segs">
		<div class="col-md-4">
			<div class="counter-blk">
				<h1><span class="start_count">500</span>+</h1>
				<p>HAPPY CUSTOMERS</p>
			</div>
			{{!-- <hr style="background-color:white" class="hidden-sm-up"> --}}
		</div>
		<div class="col-md-4">
			<div class="counter-blk">
				<h1><span class="start_count">600</span>+</h1>
				<p>ORDERS SERVED</p>
			</div>
			{{!-- <hr style="background-color:white" class="hidden-sm-up"> --}}
		</div>
		<div class="col-md-4">
			<div class="counter-blk">
				<h1><span class="start_count">200</span>+</h1>
				<p>AVAILABLE PRODUCTS</p>
			</div>
		</div>
	</div>
</div>