<div class="container-fluid" id="counter_show">
		<div class="col-md-12">
		  <h4 style="text-align:center;color: #ADB0B6;font-weight:bold;font-size:25px; padding-top:20px;">Nashik's first online Cake shop</h4>
		</div>
		<div class="row" id="counter_segs">
			<div class="col-md-4">
				<div class="counter-blk">
					<h1><span class="start_count">50</span>+</h1>
					<p>HAPPY CUSTOMERS</p>
				</div>
				<hr style="background-color:white" class="hidden-sm-up">
			</div>
			<div class="col-md-4">
				<div class="counter-blk">
					<h1><span class="start_count">30</span>+</h1>
					<p>ORDERS SERVED</p>
				</div>
				<hr style="background-color:white" class="hidden-sm-up">
			</div>
			<div class="col-md-4">
				<div class="counter-blk">
					<h1><span class="start_count">70</span>+</h1>
					<p>AVAILABLE PRODUCTS</p>
				</div>
			</div>
		</div>
</div>