<div id="carouselWrapper">
    <div id="coverOffers" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/toccata.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/refnearn.png" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/vmcelebration.jpg" alt="third slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/refnearn.png" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/freehomedelivery.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/midnightdelivery.jpg" alt="third slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/midnightdelivery.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/surprisedelivery.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/healthywheat.jpg" alt="third slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/buy3get1.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/rumcake.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="https://res.cloudinary.com/ddrrpmcto/image/upload/redgini-express-app/healthywheat.jpg" alt="third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="refernearnModal" tabindex="-1" role="dialog" aria-labelledby="refernearnModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#c11e2b">
                    <h5 class="modal-title" id="refernearnModalLabel" style="color:white; font-weight:bold">Refer & Earn upto Rs.200/-</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="text-align:center">
                        <i class="fas fa-rupee-sign fa-3x green-text fa-border"></i>
                    </p>
                    <p style="color:#2d2d2d; font-size:25px; font-weight:bold; text-align:center">Simply share your referral code & earn!</p>
                    <p style="color:black; text-align:center">Create your referral code by visiting profile tab at
                        <b>top right corner</b>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-elegant" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>