<div id="carouselWrapper">
    <div id="coverOffers" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="/images/toccata.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="/images/vmcelebration.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="/images/prakashbakery.jpg" alt="third slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="/images/prakashbakery.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="/images/freehomedelivery.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="/images/midnightdelivery.jpg" alt="third slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="/images/midnightdelivery.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="/images/surprisedelivery.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="/images/healthywheat.jpg" alt="third slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="/images/buy3get1.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="/images/rumcake.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="/images/healthywheat.jpg" alt="third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
