<div id="carouselWrapper">
    <div id="coverOffers" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/toccata.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/vmcelebration.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/prakashbakery.jpg" alt="third slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/prakashbakery.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/freehomedelivery.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/midnightdelivery.jpg" alt="third slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/midnightdelivery.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/surprisedelivery.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/healthywheat.jpg" alt="third slide">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/buy3get1.jpg" alt="first slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/rumcake.jpg" alt="Second slide">
                    </div>
                    <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block">
                        <img class="img-fluid" src="http://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/healthywheat.jpg" alt="third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
