<div id="container-floating">
    <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="openFilter()">
        <p class="plus"><i class="fas fa-filter"></i> </p>
    </div>
</div>
{{!-- link to the floating action implementation --}}
{{!-- https://codepen.io/simoberny/pen/pJZJQY --}}