<footer class="container-fluid">
<div class="container-fluid" id="footer_container">

<div class="row">
    <div class="col-sm-12 col-md-3">
        <h1 class="display-4" id="footer_oheo">Redgini</h1>
        <p id="footer_lines">The great cakes and pastries are about making your taste buds do that happy dance. A spin, a twirl and a pirouette. At Redgini, we believe a great taste and quality is one that's been made with oodles of love by our products. It's all about recreating flavours and creating recipes that are drool-worthy and memorable</p>
    </div>

    <div class="col-sm-12 col-md-5">
        <div class="row">
            <div class="col-sm-6">
                <h6 id="footer_cat_head">Available brands</h6>
                <hr style="background-color:white">
                <ul  class="list-unstyled" id="categories_footer">
                    <li>VM Celebrations</li>
                    <li>Toccata cake shop</li>
                    <li>Prakash foods</li>
                    <li>Albion bakers</li>
                    <li>Sponge - home baker</li>
                    <li>Food Affairs</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h6 id="footer_links_head">Useful links</h6>
                <hr style="background-color:white">
                <ul class="list-unstyled" class="unstyled" id="links_footer">
                    <li><a href="/">Home page</a></li>
                    <li><a href="/policies">Privacy policies</a></li>
                    <li><a href="/policies">Disclaimer</a></li>
                    <li><a href="/policies">Terms & conditions</a></li>
                    <li><a href="/policies">Privacy policies</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <h6 id="footer_mail_head">Support & Enquiry</h6>
        <hr style="background-color:white">
        <i class="fa fa-1x fa-envelope" aria-hidden="true" style="color:white"></i>
        <a id="footer_mail_link">help@redgini.com</a>
        <br><br>
        <i class="fa fa-1x fa-phone" aria-hidden="true"  style="color:white"></i>
        <a id="footer_phone_link">+91 860 550 7729</a>
        <br>
        <br>
        <a href="https://www.facebook.com/redgini.cake.pastry"><button id="fb_btn" class="btn btn-sm">Visit us on Facebook</button></a>
        <a href="https://www.instagram.com/redgini.cake.pastry"><button id="instagram_btn" class="btn btn-sm">Visit us on Instagram</button></a>
    </div>

</div>
</div>
</footer>