	<!--===================Navbar start============================-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="homepageNavbar">
  	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  	</button>
  	<a class="navbar-brand" href="index.html" id="brand_name">Redgini</a>

  <div class="collapse navbar-collapse" id="navbar_main">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0" id="navbar_items">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutus">About us</a>
      </li>
			<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-content" aria-labelledby="navbarDropdownMenuLink" id="products_dropdown">
          <a class="dropdown-item" href="/products/blackforest">Cakes & Pastry</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactus">Contact us</a>
      </li>

		</ul>

  </div>
	{{!-- <a href="shopping_cart.html" id="shop_cart_home"><i class="fa fa-shopping-cart fa-2x  hidden-sm-down" aria-hidden="true" id="shop_cart_home_icon"></i></a>
	<a class="btn btn-danger pull-right btn-sm hidden-sm-up" href="shopping_cart.html" id="cart_navbar"  data-toggle="" data-target="">
	Shopping cart</a>
	<a class="btn btn-danger pull-right btn-sm" href="login_fb_gmail.html" id="signIn_navbar"  data-toggle="" data-target="">
	Signup/Login</a> --}}
</nav>