<nav class="navbar fixed-top navbar-expand-md navbar-light customColor">
    <a class="navbar-brand" href="/" id="brand_name">
        <img id="brandImg" src="https://res.cloudinary.com/ddrrpmcto/image/upload/brands/redgini-rectangle-logo.jpg" alt="Redgini">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbar_main"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon customColorIcon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#aboutus">About us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/products/cakes">Cakes</a>
                    <a class="dropdown-item" href="/products/toasts">Toasts</a>
                    <a class="dropdown-item" href="/products/khari">Khari</a>
                    <a class="dropdown-item" href="/products/biscuits">Healthy biscuits/cookies</a>
                    {{!--
                    <a class="dropdown-item" href="/products/breads">Breads</a> --}}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contactus">Contact us</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            {{#if show}} {{else}} {{>profileNav}} {{/if}}
        </ul>
    </div>
</nav>

{{>construction}}