<div class="modal fade" id="orderBeforeModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header danger-color">
                <h5 class="modal-title" style="color:white"><b>Please check before ordering !</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Please note:</b></p>
                <p style="font-size: 13px;">1. For fondant/designer/themed & Red-velvet cakes - place order <b style="color:black">1 DAY BEFORE</b></p>
                <p style="font-size: 13px;">2. For regular (non-fondant) cakes - place order <b style="color:black">8-10 Hrs BEFORE</b></p>
                <small style="color:black">Otherwise, it will be impossible to deliver the cake because <b>we provide fresh cakes not the stored cake and We make cake after receiving the order</b></small>
            </div>
        </div>
    </div>
</div>