<div class="container">
    <div class="">
        <p id="header">Our partners</p>
        <p id="partner_desc">We are very happy to announce that "MSG91" is our official partner for the SMS services and "PayUMoney" as a payment partner</p>
        <div class="row justify-content-center">
            <div class="col-md-2 col-sm-3 col-4 partnerImages">
                <img class="" src="images/msg91.png" alt="msg91"> 
                {{!-- <a class="" href="https://msg91.com/startups/?utm_source=startup-banner"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a> --}}
            </div>
            <div class="col-md-2 col-sm-3 col-4 partnerImages">
                <img class="" src="images/payumoney.jpg" alt="payumoney"> 
            </div>
        </div>
    </div>
    <hr class="style2" style="margin-top:50px;">
</div>