	<div class="container" id="spec_add_on">
		<div class="page-header">
			<h2 id="speciality">Speciality add ons</h2>
			<hr class="divider">
			<br>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="row justify-content-center">
					<img src="/images/svgicons/delivery.svg" alt="shipping">
				</div>
				<br>
				<div class="page-header">
					<h2 class="spec_header">Free delivery</h2>
					<hr>
					{{!-- <p class="spec_desc">We want you to spend your time with your loved ones and let us worry about bringing happiness at your door</p> --}}
				</div>
			</div>
			<div class="col-3">
				<div class="row justify-content-center">
					<img src="/images/svgicons/digital-clock.svg" alt="midnight">
				</div>
				<br>
				<div class="page-header">
					<h2 class="spec_header">Mid-night surprise</h2>
					<hr>
					{{!-- <p class="spec_desc">Surprise should remain a surprise, We can help you by delivering product to you at 12 O'Clock midnight!</p> --}}
				</div>
			</div>
			<div class="col-3">
				<div class="row justify-content-center">
					<img src="/images/svgicons/birthday-cake.svg" alt="cakeShops">
				</div>
				<br>
				<div class="page-header">
					<h2 class="spec_header">Best cake shops</h2>
					<hr>
					{{!-- <p class="spec_desc">You can choose your favourite cake shop and can order your cake, We will deliver happiness to you.</p> --}}
				</div>
			</div>
			<div class="col-3">
				<div class="row justify-content-center">
					<img src="/images/svgicons/certificate.svg" alt="quality">
				</div>
				<br>
				<div class="page-header">
					<h2 class="spec_header">Quality assured</h2>
					<hr>
					{{!-- <p class="spec_desc">We would never compromise on the quality. We bake your cake once the order is confirmed!</p> --}}
				</div>
			</div>
		</div>
	</div>