<div class="container" id="testimonials">
    <div class="page-header">
        <h2>Happy people...</h2>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div id="testimonials_carousal" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                        <div class="col-sm-12">
                            <img class="rounded-circle testimonials_img" src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/test1.jpg"
                                alt="user1" width="140" height="140">
                            <h5 class="testimonials_names">Sachin Thakare, Nashik</h5>
                            <p class="testimonials_desc">So it was actually our wedding anniversary and before this I never surprised my dear wife with
                                something very special, but when I heard about Redgini's
                                <b>"Event celebration service"</b> I thought this time might be able to make this moment special
                                for us! Thanks Redgini for making it happen.</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-sm-12">
                            <img class="rounded-circle testimonials_img" src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/test2.jpg"
                                alt="user2" width="140" height="140">
                            <h5 class="testimonials_names">Kiran V Kaloge, Team member</h5>
                            <p class="testimonials_desc">I have been working with Redgini,Nashik since long time...I consider myself very fortunate and
                                lucky that I am a part of such great thing. We are doing
                                <b> just amazing work</b> here and trying hard to make Redgini a worderful place to work with.</p>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="col-sm-12">
                            <img class="rounded-circle testimonials_img" src="https://res.cloudinary.com/ddrrpmcto/image/upload/v1531819816/redgini-express-app/test3.jpg"
                                alt="user3" width="140" height="140">
                            <h5 class="testimonials_names">Vishal Kanawade, Nashik</h5>
                            <p class="testimonials_desc">I experienced the Redgini's service two times. First,It was my mom's birthday and I was in mumbai
                                on that special day. So, I reached out to this people and they just fantastically helped
                                with the situation. Secondly, we had out friends birthday and by Reddgini's help we're able
                                to surprise her! </p>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#testimonials_carousal" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left fa-2x" aria-hidden="false"></i>
                </a>
                <a class="carousel-control-next" href="#testimonials_carousal" role="button" data-slide="next">
                    <i class="fa fa-chevron-right fa-2x" aria-hidden="false"></i>
                </a>
            </div>
        </div>
    </div>
    <hr class="style2">
</div>