<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.min.css">
  <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="/stylesheets/dependencies/pickaday.css">
  <link rel="stylesheet" href="/stylesheets/error.css"/>
  <link rel="stylesheet" href="/stylesheets/header.css"/>
  <link rel="stylesheet" href="/stylesheets/footer.css"/>
  <link rel="stylesheet" href="/stylesheets/socialLogin.css"/>
  <link rel="stylesheet" href="/stylesheets/index.css"/>
  <link rel="stylesheet" href="/stylesheets/partners.css"/>
  <link rel="stylesheet" href="/stylesheets/policies.css">
  <link rel="stylesheet" href="/stylesheets/products.css"/>
  <link rel="stylesheet" href="/stylesheets/checkout.css">
  <link rel="stylesheet" href="/stylesheets/final.css"/>
  <link rel="stylesheet" href="/stylesheets/shoppingCart.css"/>
  <link rel="stylesheet" href="/stylesheets/userProfile.css">
  <script type="application/ld+json">
    { "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "Redgini - Online Cake shop",
      "url" : "http://www.redgini.com",
      "sameAs" : [ "https://www.instagram.com/redgini.cake.pastry/",
        "https://www.facebook.com/redgini.cake.pastry/"] 
    }
  </script>
  </head>
  {{{body}}}
</html>
