<b>Hey, {{refCodePersonName}},</b>
<br>
<p>We just want to inform you that
    <b>{{whoUsed}}</b> just used your referral code to order cake</p>
<p>We will cashback you the Rs.{{cashbackAmount}}/- on your Paytm number (+91 {{cashbackPhone}}) registered with Redgini</p>
<br>
<p>For enquiry contact us on - +91 860 550 7729</p>

<p>Thank you,
    <br>Team Redgini</p>