<b>Hey, {{refCodePersonName}},</b>
<br>
<p>We just want to inform you that
    <b>{{whoUsed}}</b> just used your referral code to order cake</p>
<p>We will cashback you the decided amount as soon as possible</p>
<br>
<p>For enquiry contact us on - +91 860 550 7729</p>

<p>Thank you,
    <br>Team Redgini</p>