  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Redgini | Checkout</title>
    <link rel="stylesheet" href="/stylesheets/dependencies/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/pickaday.css">
    <link rel="stylesheet" href="/stylesheets/checkout.css">
    <link rel="stylesheet" href="/stylesheets/plainNav.css">
  </head>
  <body id="checkout">
    {{>plainNav}}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="/order" method="POST">
                <div class="card shadow_depth_1" id="checkout_details">
                    <div class="col-md-12" id="">
                        <h6><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Order details</h6>
                        <p>Please enter the order/cake details</p>
                        <a href="/products/blackforest" id="cake_id_btn" class="btn btn-sm">Check Cake ID here</a>
                        
                        <table id="order_table" class="table table-bordered table-sm table-responsive-md order-list">
                            <thead>
                                <tr>
                                    <th class="col-md-2" scope="col">Cake ID</th>
                                    <th class="col-md-3" scope="col">Name</th>
                                    <th class="col-md-1" scope="col">Cost</th>
                                    <th class="col-md-2" scope="col">Weight</th>
                                    <th class="col-md-3" scope="col">Message on cake!</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td class="col-md-2"><input id="" class="form-control form-control-sm cake_id" type="text"></td>
                                    <td class="col-md-3">Exotic black forest</td>
                                    <td class="col-md-1">Rs.360</td>
                                    <td class="col-md-2">
                                        <div class="form-group">
                                            <select class="form-control form-control-sm" id="available_cake_weight">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="col-md-3">
                                        <input id="" class="form-control form-control-sm" type="text">
                                    </td>
                                    <td class="col-md-1">
                                        <a class="deleteRow"></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" style="text-align: left;">
                                        <input type="button" class="btn btn-sm btn-block" id="addrow" value="Add more cakes!" />
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="col-md-12" id="">
                        <h6><i class="fa fa-check-circle" aria-hidden="true"></i> Delivery Address</h6>
                        <p>Enter your address details so that we can deliver your product to you as soon as possible !</p>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control form-control-sm" id="name" value="" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="form_flat">Flat / House / Office No.</label>
                            <input type="text" class="form-control form-control-sm" id="form_flat" value="" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="form_street">Street / Society / Office Name</label>
                            <input type="text" class="form-control form-control-sm" id="form_street" value="" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="form_area">Area</label>
                            <select class="form-control form-control-sm" id="form_area">
                                <option>Gangapur road</option>
                                <option>College road</option>
                                <option>Indira nagar</option>
                                <option>Satpur</option>
                                <option>Cidco</option>
                                <option>Nashik-road / Jail-road</option>
                                <option>Gangapur gaon, Aanandwali, etc.</option>
                                <option>Govind nagar</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="form_city">City</label>
                            <input type="text" class="form-control form-control-sm" id="form_state" placeholder="Nashik" disabled>
                        </div>
                        <div class="form-group">
                            <label for="form_state">State</label>
                            <input type="text" class="form-control form-control-sm" id="form_state" placeholder="Maharashtra" disabled>
                        </div>
                    </div>
                    
                    <hr>

                    <div class="col-md-12">
                        <h6><i class="fa fa-check-circle" aria-hidden="true"></i> Delivery date & time</h6>
                        <p>Choose the time which is convenient to you...please checkout our delivery policies carefully !</p>
                        <p>Choose delivery date</p>
                        <p><input type="text" id="datepicker" class="form-control form-control-sm"></p>
                        <p>Choose delivery time</p>
                        <ul id="std_del_list">
                            <p class="timeSlotHeader">Standard delivery</p>
                            <li><input type="radio" name="delTime" value="1" id="delTime1" checked><label                                              for="delTime1">&nbsp;04:00PM - 06:00PM</label></li>
                            <li><input type="radio" name="delTime" value="2" id="delTime2"><label                                              for="delTime2">&nbsp;06:00PM - 08:00PM</label></li>
                            <li><input type="radio" name="delTime" value="3" id="delTime3"><label                                              for="delTime3">&nbsp;08:00PM - 11:00PM</label></li>
                            <p class="timeSlotHeader">Mid night delivery</p>
                            <li><input type="radio" name="delTime" value="4" id="delTime4"><label                                              for="delTime4">&nbsp;11:00PM - 11:30PM</label></li>
                            <li><input type="radio" name="delTime" value="5" id="delTime5"><label                                              for="delTime5">&nbsp;11:30PM - 11:59PM</label></li>
                            <p class="timeSlotHeader">Morning delivery</p>
                            <li><input type="radio" name="delTime" value="6" id="delTime6"><label                                              for="delTime6">&nbsp;09:00AM - 11:00AM</label></li>
                            <li><input type="radio" name="delTime" value="7" id="delTime7"><label                                             for="delTime7">&nbsp;11:00AM - 01:00PM</label></li>
                            <li><input type="radio" name="delTime" value="8" id="delTime8"><label                                              for="delTime8">&nbsp;01:00PM - 04:00PM</label></li>
                        </ul>
                    </div>

                    <hr>

                    <div class="col-md-12">
                        <p><button type="submit" class="btn myBtn" id="confirm_btn" name="confirm_btn">Confirm my order!</button></p>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/javascripts/dependencies/jquery.min.js"></script>
    <script src="/javascripts/dependencies/jquery-ui.min.js"></script>
    <script src="/javascripts/dependencies/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/pickaday.js"></script>
    <script type="text/javascript" src="/javascripts/checkout.js"></script>
  </body>