  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Redgini | Error</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Allan|Arvo|Droid+Sans|Lobster|Pacifico|Roboto|Satisfy|Montserrat|Source+Sans+Pro');
        body#errorPage #block{
            text-align: center;
            margin-top: 60px;
        }
        body#errorPage #header{
            font-family: 'Pacifico', cursive;
            font-size: 80px;
            padding: 50px;
        }
        body#errorPage #line{
            padding-bottom: 10px;
        }
        body#errorPage #desc{
            padding: 20px;
            background-color: black;
            color: white;
            font-weight: bold;
            border-radius: 5px;
        }
    </style>
  </head>
  <body id="errorPage">
      <div class="container" id="block">
          <h1 id="header">Ooops!</h1>
          <h2 id="line">Something went wrong...</h2>
          <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <h3 id="desc">Please go back!</h3>
              </div>
              <div class="col-md-4"></div>
          </div>
      </div>
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/javascripts/bootstrap.min.js"></script>
  </body>