  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="GpaynIDs0LoFp2VWKS4HN0N3b8P8pBTQTkwaKcrRR2s" />
    <meta name="google-site-verification" content="GpaynIDs0LoFp2VWKS4HN0N3b8P8pBTQTkwaKcrRR2s" />
    <meta name="google-site-verification" content="Haxb8JOG5IdjplGOrBzRp1tkOoZ9Q3tvQUbDjQosYdE" />
    <meta name="google-site-verification" content="Haxb8JOG5IdjplGOrBzRp1tkOoZ9Q3tvQUbDjQosYdE" />
    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/stylesheets/dependencies/pickaday.css">
    <link rel="stylesheet" href="/stylesheets/error.css"/>
    <link rel="stylesheet" href="/stylesheets/header.css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css"/>
    <link rel="stylesheet" href="/stylesheets/socialLogin.css"/>
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="stylesheet" href="/stylesheets/partners.css"/>
    <link rel="stylesheet" href="/stylesheets/policies.css">
    <link rel="stylesheet" href="/stylesheets/products.css"/>
    <link rel="stylesheet" href="/stylesheets/checkout.css">
    <link rel="stylesheet" href="/stylesheets/final.css"/>
    <link rel="stylesheet" href="/stylesheets/shoppingCart.css"/>
    <link rel="stylesheet" href="/stylesheets/userProfile.css">
  </head>
<body id="homepage">
    {{>header}}
    {{>coverOffer}}
    {{>category}}
    {{>aboutUs}}
    {{>speciality}}
    {{>counters}}
    {{>testimonials}}
    {{>partners}}
    {{>contact}}
    {{>footer}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
            
    <script src="/javascripts/index.js" type="text/javascript"></script>
</body>