  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Redgini | Cake & pastries</title>
    <link rel="stylesheet" href="/stylesheets/dependencies/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/products.css"/>
    <link rel="stylesheet" href="/stylesheets/footer.css"/>
    <link rel="stylesheet" href="/stylesheets/header.css"/>
  </head>
  <body id="cake_product_page">
    {{>header}}
    <div class="container">
      {{>coverOffer}}
    </div>
   <hr>

      {{>comingSoonModal}}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xs-12 hidden-sm-down">
            <div class="list-group" id="sidebar_cake_cat">
              <a href="" class="list-group-item disabled" id="sidebar_header"> Cake categories:</a>
                <a href="/products/blackforest" class="list-group-item list-group-item-action sidebar_cake_cat_items">Black forest cakes</a>
                <a href="/products/butterscotch" class="list-group-item list-group-item-action sidebar_cake_cat_items">Butterscotch cakes</a>
                <a href="/products/chocolate" class="list-group-item list-group-item-action sidebar_cake_cat_items">Chocolate cakes</a>
                <a href="/products/oreo" class="list-group-item list-group-item-action sidebar_cake_cat_items">Chocolate oreo cakes</a>
                <a href="/products/fruit" class="list-group-item list-group-item-action sidebar_cake_cat_items">Fruit cakes</a>
                <a href="/products/pineapple" class="list-group-item list-group-item-action sidebar_cake_cat_items">Pineapple cakes</a>
                <a href="/products/redvelvet" class="list-group-item list-group-item-action sidebar_cake_cat_items">Red velvet cakes</a>
                <a href="/products/strawberryvanilla" class="list-group-item list-group-item-action sidebar_cake_cat_items">Strawberry vanilla cakes</a>
                <a href="/products/truffle" class="list-group-item list-group-item-action sidebar_cake_cat_items">All Truffle cakes</a>
                <a href="/products/whiteforest" class="list-group-item list-group-item-action sidebar_cake_cat_items">White Forest cakes</a>
                <a href="/products/designer-fondant" class="list-group-item list-group-item-action sidebar_cake_cat_items"><b>Designer+Fondant cakes</b></a>
            </div>
            <hr>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 hidden-md-up">
              <div class="row justify-content-center">
                <div class="">
                  <a style="width:100%; background-color:white; color:black; border:1px solid black" class="fixed-bottom btn btn-sm" onclick="openSideNav()" id="categoryDropdown">
                    <b>Choose cake category</b>
                  </a>
                </div>
              </div>
          </div>
          <div id="catSideNav" class="catSideNav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">&times;</a>
              <a href="/products/blackforest" class="">Black forest cakes</a>
              <a href="/products/butterscotch" class="">Butterscotch cakes</a>
              <a href="/products/chocolate" class="">Chocolate cakes</a>
              <a href="/products/oreo" class="">Chocolate oreo cakes</a>
              <a href="/products/fruit" class="">Fruit cakes</a>
              <a href="/products/pineapple" class="">Pineapple cakes</a>
              <a href="/products/redvelvet" class="">Red velvet cakes</a>
              <a href="/products/strawberryvanilla" class="">Strawberry vanilla cakes</a>
              <a href="/products/truffle" class="">All Truffle cakes</a>
              <a href="/products/whiteforest" class="">White Forest cakes</a>
              <a href="/products/designer-fondant" class="">Designer+Fondant</a>
          </div>
          <div class="col-md-9 col-sm-12 col-xs-12">
            {{#if designerAndFondant}}
              {{>designer-fondant}}
            {{else}}
              {{>regularCakes}}
            {{/if}}
          </div>
        </div>
      </div>

      {{>footer}}
      <script src="/javascripts/dependencies/jquery.min.js" type="text/javascript"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
      <script src="/javascripts/dependencies/bootstrap.min.js" type="text/javascript"></script>
      <script src="/javascripts/dependencies/jquery.toaster.js" type="text/javascript"></script>
      <script src="/javascripts/products.js" type="text/javascript"></script>
  </body>