@import url('https://fonts.googleapis.com/css?family=Allan|Arvo|Droid+Sans|Lobster|Pacifico|Roboto|Satisfy|Montserrat|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Anton|Comfortaa|Farsan|Francois+One|Fredoka+One|Oswald|Quicksand:500');

/* font-family: 'Fredoka One', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Farsan', cursive; */

body#final #frame{
  background-color: #f7f7f7;
}
body#final #thankYou{
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    margin: 10px 0px 20px 10px;
}
body#final #orderNo{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 10px 10px;
}
body#final #msg{
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    margin: 5px 10px 50px 10px;
}
body#final #delTime{
    margin: 0px 0px 0px 10px;
    font-size: 25px;
}
body#final #time{
    font-size: 20px;
}
body#final #date{
    font-size: 18px;
}
body#final #day{
    font-size: 18px;
}
body#final #delAddress{
    margin: 0px 0px 0px 10px;
    font-size: 25px;
}
body#final #address{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px 10px 50px 40px;
}
body#final .shopBtn{
    margin: 5px 0px 20px 40px;
    font-weight: bold;
}
body#final #orderHeading{
    background-color: #CC0000;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
body#final #summaryOfItems{
    padding: 0px 10px 0px 10px;
}
body#final #listHeader{
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0px 5px 0px;
}
body#final .listItems{
    font-size: 15px;
    padding: 5px 0px 5px 0px;
    color: #5F5F5F;
}
body#final .totalItems{
    font-weight: bolder;
    color:black;
    padding: 3px 0px 3px 0px;
}
@media (max-width: 574px) {
	body#final #thankYou{
	    font-size: 30px;
    }
    body#final #orderNo{
        font-size: 13px;
    }
    body#final #msg{
        font-size: 9px;
    }
    body#final #delTime{
        font-size: 12px;
    }
    body#final #time{
        font-size: 12px;
    }
    body#final #date{
        font-size: 12px;
    }
    body#final #delAddress{
        font-size: 13px;
    }
    body#final #address{
        font-size: 10px; 
    }
    body#final #shopBtn{
        font-size: 10px;
    }
    body#final #listHeader{
        font-size: 12px;
    }
}
@media (min-width: 575px) {
	body#final #thankYou{
	    font-size: 35px;
    }
    body#final #orderNo{
        font-size: 11px;
    }
    body#final #msg{
        font-size: 10px;
    }
    body#final #delTime{
        font-size: 18px;
    }
    body#final #time{
        font-size: 18px;
    }
    body#final #date{
        font-size: 18px;
    }
    body#final #delAddress{
        font-size: 18px;
    }
    body#final #address{
        font-size: 11px; 
    }
    body#final #shopBtn{
        font-size: 11px;
    }
    body#final #listHeader{
        font-size: 12px;
    }
}
@media (min-width: 768px) {
	body#final #thankYou{
	    font-size: 12px;
    }
    body#final #orderNo{
        font-size: 15px;
    }
    body#final #msg{
        font-size: 11px;
    }
    body#final #delTime{
        font-size: 20px;
    }
    body#final #time{
        font-size: 20px;
    }
    body#final #date{
        font-size: 20px;
    }
    body#final #delAddress{
        font-size: 20px;
    }
    body#final #address{
        font-size: 12px; 
    }
    body#final #shopBtn{
        font-size: 12px;
    }
    body#final #listHeader{
        font-size: 14px;
    }
}
@media (min-width: 992px) {
	body#final #thankYou{
	    font-size: 45px;
    }
    body#final #orderNo{
        font-size: 18px;
    }
    body#final #msg{
        font-size: 12px;
    }
    body#final #delTime{
        font-size: 22px;
    }
    body#final #time{
        font-size: 22px;
    }
    body#final #date{
        font-size: 22px;
    }
    body#final #delAddress{
        font-size: 22px;
    }
    body#final #address{
        font-size: 13px; 
    }
    body#final #shopBtn{
        font-size: 13px;
    }
    body#final #listHeader{
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
	body#final #thankYou{
	    font-size: 50px;
    }
    body#final #orderNo{
        font-size: 20px;
    }
    body#final #msg{
        font-size: 14px;
    }
    body#final #deltime{
        font-size: 25px;
    }
    body#final #time{
        font-size: 25px;
    }
    body#final #date{
        font-size: 25px;
    }
    body#final #delAddress{
        font-size: 25px;
    }
    body#final #address{
        font-size: 15px; 
    }
    body#final #shopBtn{
        font-size: 15px;
    }
    body#final #listHeader{
        font-size: 18px;
    }
}