@import url('https://fonts.googleapis.com/css?family=Allan|Arvo|Droid+Sans|Lobster|Pacifico|Roboto|Satisfy|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Anton|Comfortaa|Farsan|Francois+One|Fredoka+One|Oswald|Quicksand:500');
@import url('https://fonts.googleapis.com/css?family=Chewy');
/* font-family: 'Fredoka One', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Farsan', cursive; */
#footer_line{
background: #ff0000;
color: white;
text-align: center;
padding: 5px;
font-size: 20px;
/*font-family: 'Raleway', sans-serif;*/
}
#footer_line a{
    color: white;
}
#footer_line{
    color: white;
}
#footer_oheo{
    font-family: 'Chewy', cursive;
    color: #ADB0B6;
    margin-top:5px;
    margin-bottom: 0px;
}
#footer_lines{
    color: #ADB0B6;
    /*margin-left: 50px;*/
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    margin-top: 20px;
    /*font-family: 'Raleway', sans-serif;*/
}
footer{
    background-color: #282C35; 
    padding-top: 10px;
}
#categories_footer{
    font-family: 'Comfortaa', cursive;
    color: #ADB0B6;
    list-style: none;
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 13px;
}
#categories_footer li{
    padding: 2px 0px;
}
#links_footer a{
    font-family: 'Comfortaa', cursive;
    color: #ADB0B6;
    list-style: none;
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 13px;
}
#footer_cat_head{
    color: #ADB0B6;
    font-size: 18px;
    font-weight: 700;
    /*font-family: 'Raleway', sans-serif;*/
}
#footer_links_head{
    color: #ADB0B6;
    font-size: 18px;
    font-weight: 700;
    /*font-family: 'Raleway', sans-serif;*/
}
#footer_madeby,#footer_madeby a{
    color: #ADB0B6;
    margin-top: 50px;
}
#footer_mail_head{
    color: #ADB0B6;
    font-size: 18px;
    font-weight: 700;
}
#footer_mail_link{
    color: #ADB0B6;
    margin-bottom: 20px;
}
#footer_phone_head{
    color: #ADB0B6;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#footer_phone_link{
    color: #ADB0B6;
    margin-bottom: 10px;
}
#footer_followus_head{
    margin-bottom: 10px;
    margin-top: 20px;
    color: #ADB0B6;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
#fb_btn{
	background-color:  #3b5998;
	color: white;
	font-weight: bold;
	margin: 3px;
}
#instagram_btn{
	background-color:  #fb3958;
	color: white;
	font-weight: bold;
	margin: 3px;
}