@import url('https://fonts.googleapis.com/css?family=Allan|Arvo|Droid+Sans|Lobster|Pacifico|Roboto|Satisfy|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
.nav-link{
	font-weight: bold;
}
#brand_name{
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
	font-weight: bold;
}
#order_now_cover:hover {
  background-color: black;
  color: white;
  border-color: black;
  font-weight: bold; }

#navbar_items{
	font-weight: bold;
}
/*========shopping cart icon starts==========*/
#shop_cart_home{
	margin-right: 20px;
}
#shop_cart_home_icon{
	color: #3d3a3a;
}
#shop_cart_home_icon:hover{
	color: black;
}
#userprofileDrop{
	font-weight: bold;
}