@import url('https://fonts.googleapis.com/css?family=Allan|Arvo|Droid+Sans|Lobster|Pacifico|Roboto|Satisfy|Montserrat');
#checkout_nav{
  margin-bottom: 50px;
}
#checkout_brand{
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}
.navbar_lines{
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
#checkout_navbar li{
  padding: 18px 10px 0 10px;
}