@import url('https://fonts.googleapis.com/css?family=Allan|Arvo|Bree+Serif|Lemonada|Montserrat|Pacifico|Quicksand|Roboto|Raleway');

html,body{
	height: 100%;
}
body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #6c6f73;
}

body#cake_product_page .navbar-brand{
  font-family: 'Pacifico', cursive;
	font-size: 30px;
	font-weight: bold;
}
/*===========navbar styling ends==============*/

body#cake_product_page #search_btn{
	color: grey;
	padding: 3px;
}
body#cake_product_page #search_btn:hover{
  cursor: pointer;
	color: black;
}
body#cake_product_page .text-line {
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    padding: 3px 10px;
		width: 500px;
}
body#cake_product_page #search_pdt{
	 width: 220px;
}

body#cake_product_page .pdt_page_city_shop{
	border: solid 1px grey;
}
/*========shopping cart icon starts==========*/
body#cake_product_page #shop_cart_home{
	margin-right: 20px;
	margin-top: 10px;
}
body#cake_product_page #shop_cart_home_icon{
	color: #3d3a3a;
}
body#cake_product_page #shop_cart_home_icon:hover{
	color: black;
}
/*=========shopping cart icon ends*/
/*===========navbar styling ends==============*/
/*============coverapage for the cake product page starts=====*/

@media (min-width: 480px) {
	body#cake_product_page #cake_pdt_coverpage{
	    width: 100%;
	    height: 165px;
			display: flex;
			align-items: center;
	}
}
@media (min-width: 575px) {
	body#cake_product_page #cake_pdt_coverpage{
	    width: 100%;
	    height: 200px;
			display: flex;
			align-items: center;
	}
}
@media (min-width: 768px) {
	body#cake_product_page #cake_pdt_coverpage{
	    width: 100%;
	    height: 250px;
			display: flex;
			align-items: center;
	}
}
@media (min-width: 992px) {
	body#cake_product_page #cake_pdt_coverpage{
	    width: 100%;
	    height: 350px;
			display: flex;
			align-items: center;
	}
}
@media (min-width: 1200px) {
	body#cake_product_page #cake_pdt_coverpage{
	    width: 100%;
	    height: 400px;
			display: flex;
			align-items: center;
	}
}
/*body#cake_product_page #cake_pdt_coverpage{
	background-size: cover;
	height: 60%;
	width: 100%;
	display: flex;
	align-items: center;
}*/
body#cake_product_page #cake_pdt_coverpage_caption{
	font-size: 1.4rem;
	font-weight: 200;
	max-width: 60rem;
	margin: 0 auto;
	text-align: center;
}
body#cake_product_page #cake_pdt_coverpage_caption h3{
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-top: 70px;
}

body#cake_product_page #cake_pdt_coverpage_caption input{
	background-color: white;
	border-radius: 3px;
	border: solid 1px grey;
}
body#cake_product_page input[placeholder], [placeholder], *[placeholder] {
    font-size: 13px;
		text-align: center;
}

body#cake_product_page #search_city_n_shop{
		margin-bottom: 10px;
}

body#cake_product_page hr{
	background-color: grey;
}
/*============coverapage for the cake product page ends=====*/
/*===========offers carousal starts==================*/
body#cake_product_page #offer_carousal{
	margin-bottom: 20px;
	margin-top: 30px;
}

body#cake_product_page #offer_carousal img{
	height: 300px;
	width: 100%
}

body#cake_product_page .my_select{
	color: grey;
	font-family: 'Arvo', sans-serif;
	padding: 10px;
	margin: 3px;
}

body#cake_product_page #my_select_shop{
	width: 250px;
}
/*===========offers carousal ends==================*/

/*===============filters styling starts======================*/
/* body#cake_product_page .cake_weight{

} */
body#cake_product_page .weight_list{
	text-align: center;
}
body#cake_product_page #weight_of_cake label{
	font-size: 17px;
}

body#cake_product_page .filter_items{
	font-size: 14px;
}
/*===============filters styling ends======================*/
/*=========side bar styling starts===========*/

body#cake_product_page #cake_pdt_page_header{
	font-family: 'Lemonada', cursive;
	font-weight: bold;
	text-align: center;
	margin: 140px 0px 50px 0px;
	color: #999999;
}

body#cake_product_page #sidebar_header{
  background-color: #e5e5e5; /*faint red = #FF4444 and dark red = #CC0000*/
	color: #7f7f7f;
	font-size: 18px;
	font-weight: bold;
}

body#cake_product_page #sidebar_cake_cat .sidebar_cake_cat_items{
	font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
body#cake_product_page #applyFiltersBtn{
	background-color: #CC0000;
	color: white;
	margin-top: 5px;
	width: 100%;
}
body#cake_product_page #applyFiltersBtn:hover{
	color: #CC0000;
	border-color: #CC0000;
	background-color: white;
}
/*=========side bar styling ends===========*/

/*=========styling of cake boxes start============*/
body#cake_product_page .shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body#cake_product_page .cake_box_row{
	padding: 5px 0px 5px 0px;

}
body#cake_product_page .cake_box:hover{
	cursor: pointer;
}
body#cake_product_page .cake_box img{
	height: 250px;
	width: 100%;
	/* margin-top: 10px; */
	/* border-radius: 7px; */
	vertical-align: middle;
}
body#cake_product_page .addToCart_btn{
	border-radius: 15px;
	font-size: 11px;
	margin-top: -3px;
	margin-left: 17px;
	background-color: #CC0000;
}
body#cake_product_page .addToCart_btn:hover{
	cursor:pointer;
	color: #CC0000;
	border-color: #CC0000;
	background-color: white;
}
body#cake_product_page .inc_dec_btn{
	color: #CC0000;
	border-color: #CC0000;
	background-color: white;
	border-radius: 15px;
}
body#cake_product_page .add-to-cart-qty{
	color: black;
	font-size: 15px;
	background-color: white;
	width: 35px;
	text-align: left;
}
body#cake_product_page input.qtyplus {
	  width:20px;
		height:20px;
}
body#cake_product_page input.qtyminus {
	 width:20px;
	 height:20px;
}
body#cake_product_page .productContainer{
	margin: 0px;
}
body#cake_product_page .cake_name{
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
}
body#cake_product_page .cake_id{
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
}
body#cake_product_page .available_weight{
	border: 1px black solid;
	padding: 2px 8px 2px 8px;
	font-family: 'Quicksand', sans-serif;
	margin-top: -25px;
}
body#cake_product_page .cake_price{
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
}
body#cake_product_page .cake_weight{
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
}

body#cake_product_page .heart_like{
	color: pink;
	margin-top: 10px;
}
/*=========styling of cake boxes end============*/
@media (max-width: 574px) {
	body#cake_product_page .cake_images img{
	    width: 100%;
	    height: 140px;
	}
	body#cake_product_page #coverOffers img {
	    width: 100%;
	    height: 150px;
	}
	body#cake_product_page .cake_name{
		font-size: 10px;
	}
	body#cake_product_page .cake_id{
		font-size: 10px;
	}
	body#cake_product_page .cake_price{
		font-size: 12px;
	}
	body#cake_product_page .available_weight{
		padding: 1px 6px 1px 6px;
		font-size: 12px;
		margin-top: -25px;
	}
	body#cake_product_page .productContainer{
		margin-bottom: 8px;
	}
	body#cake_product_page .orderBefore{
		font-size: 12px;
	}
}
@media (min-width: 575px) {
	body#cake_product_page .cake_images img{
	    width: 100%;
	    height: 160px;
	}
	body#cake_product_page #coverOffers img {
	    width: 100%;
	    height: 200px;
	}
	body#cake_product_page .cake_name{
		font-size: 11px;
	}
	body#cake_product_page .cake_id{
		font-size: 11px;
	}
	body#cake_product_page .cake_price{
		font-size: 12px;
	}
	body#cake_product_page .available_weight{
		padding: 1px 6px 1px 6px;
		font-size: 12px;
		margin-top: -20px;
	}
	body#cake_product_page .productContainer{
		margin-bottom: 10px;
	}
	body#cake_product_page .orderBefore{
		font-size: 12px;
	}
}
@media (min-width: 768px) {
	body#cake_product_page .cake_images img{
	    width: 100%;
	    height: 160px;
	}
	body#cake_product_page #coverOffers img {
	    width: 100%;
	    height: 250px;
	}
	body#cake_product_page .cake_name{
		font-size: 12px;
	}
	body#cake_product_page .cake_id{
		font-size: 12px;
	}
	body#cake_product_page .cake_price{
		font-size: 13px;
	}
	body#cake_product_page .available_weight{
		padding: 2px 8px 2px 8px;
		font-size: 13px;
		margin-top: -15px;
	}
	body#cake_product_page .productContainer{
		margin-bottom: 15px;
	}
	body#cake_product_page .orderBefore{
		font-size: 12px;
	}
}
@media (min-width: 992px) {
	body#cake_product_page .cake_images img{
	    width: 100%;
	    height: 220px;
	}
	body#cake_product_page #coverOffers img {
	    width: 100%;
	    height: 350px;
	}
	body#cake_product_page .cake_name{
		font-size: 13px;
	}
	body#cake_product_page .cake_id{
		font-size: 13px;
	}
	body#cake_product_page .cake_price{
		font-size: 13px;
	}
	body#cake_product_page .available_weight{
		padding: 2px 8px 2px 8px;
		font-size: 14px;
		margin-top: -10px;
	}
	body#cake_product_page .productContainer{
		margin-bottom: 15px;
	}
	body#cake_product_page .orderBefore{
		font-size: 13px;
	}
}
@media (min-width: 1200px) {
	body#cake_product_page .cake_images img{
	    width: 100%;
	    height: 220px;
	}
	body#cake_product_page #coverOffers img {
	    width: 100%;
	    height: 400px;
	}
	body#cake_product_page .cake_name{
		font-size: 15px;
	}
	body#cake_product_page .cake_id{
		font-size: 15px;
	}
	body#cake_product_page .cake_price{
		font-size: 14px;
	}
	body#cake_product_page .available_weight{
		padding: 2px 8px 2px 8px;
		font-size: 15px;
		margin-top: -5px;
	}
	body#cake_product_page .productContainer{
		margin-bottom: 20px;
	}
	body#cake_product_page .orderBefore{
		font-size: 15px;
	}
}