@import url('https://fonts.googleapis.com/css?family=Allan|Arvo|Droid+Sans|Lobster|Pacifico|Roboto|Satisfy|Montserrat');
body#cartpage #offerCarousal{
  padding: 30px 100px 30px 100px;
}
body#cartpage #offerCarousal img{
  height: 200px;
}
body#cartpage #header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 35px;
}
body#cartpage #cartItemList{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}
body#cartpage .removeItemBtn{
  color: #cc0000;
  border-color: #cc0000;
  background-color: white;
}
body#cartpage .removeItemBtn:hover{
  background-color: #cc0000;
  color: white;
  cursor: pointer;
}
body#cartpage #checkoutBtn{
  background-color: #cc0000;
  color: white;
  width: 100%;
  font-weight: bold;
}
body#cartpage #checkoutBtn:hover{
  color: #cc0000;
  border-color: #cc0000;
  background-color: white;
  cursor: pointer;
}
body#cartpage #addMoreCakesBtn{
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #cc0000;
  color: white;
  font-weight: bold;
}
body#cartpage #addMoreCakesBtn:hover{
  color: #cc0000;
  border-color: #cc0000;
  background-color: white;
  cursor: pointer;
}
body#cartpage #emptyCartMsg{
  margin-top: 50px;
  margin-bottom: 50px;
}
body#cartpage #startShopping{
  background-color: #cc0000;
  color: white;
  font-weight: bold;
}
body#cartpage #startShopping:hover{
  color: #cc0000;
  border-color: #cc0000;
  background-color: white;
  cursor: pointer;
}
body#cartpage #paymentDetails{
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}
body#cartpage #paymentDetails p{
  color: green;
  font-size: 13px;
}
body#cartpage #paymentDetails small{
  font-weight: bold;
}
body#cartpage #upcomingPaymentOptions{
  margin-top: 50px;
}
body#cartpage #upcomingPaymentOptions p{
  text-align: center;
  font-weight: bold;
}
body#cartpage #upcomingPaymentOptions img{
  width: 100%;
  height: 30px;
}
@media (max-width: 574px) {

}
@media (min-width: 575px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}

body#cartpage .shadow_depth_1{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
body#cartpage .shadow_depth_2{
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
body#cartpage .shadow_depth_3{
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
body#cartpage .shadow_depth_4{
   -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  }
