@import url("https://fonts.googleapis.com/css?family=Allan|Arvo|Droid+Sans|Lobster|Pacifico|Roboto|Satisfy|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Anton|Comfortaa|Farsan|Francois+One|Fredoka+One|Oswald|Quicksand:500");

/* font-family: 'Fredoka One', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Francois One', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Farsan', cursive; */
body#userProfile {
    background-color: #f0f0f0;
}
body#userProfile #wrapper {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 80px;
    font-family: "Montserrat", sans-serif;
}
body#userProfile #contentWrapper {
    /* text-align: center; */
    padding: 50px 0px 50px 0px;
}
body#userProfile #userPic {
    margin-bottom: -5px;
}
body#userProfile #username {
    text-align: center;
}
body#userProfile #userTabs {
    font-size: 14px;
}
body#userProfile #noOrderHistory {
    text-align: center;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
}
body#userProfile #emptyCartMsg {
    margin-bottom: 20px;
}
body#userProfile #startShopping {
    font-weight: bold;
}
body#userProfile #referHeader {
    font-family: "Fredoka One", cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}
body#userProfile #generateRefCodeWrapper {
}
body#userProfile #generateRefCodeText {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    margin-top: 5px;
}
body#userProfile #referralRulesList {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
}
body#userProfile #cashbackRules {
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
}
body#userProfile #cashbackRules li {
    padding-top: 5px;
    padding-bottom: 5px;
}
body#userProfile #showRefCodeWrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}
body#userProfile #refCodeText {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 20px;
}
body#userProfile #refCodeUse {
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
}
body#userProfile #userRefCode {
    font-family: "Fredoka One", cursive;
    font-size: 25px;
    background-color: #eeeeee;
    color: #2d2d2d;
    padding: 10px;
    border-radius: 5px;
}
body#userProfile #refCodeData {
    justify-content: center;
    align-items: center;
}
body#userProfile #refCodeData li {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}
body#userProfile #refCodeMsg {
    text-align: center;
    border: 1px solid #2d2d2d;
    padding: 5px;
}
@media (max-width: 574px) {
    body#userProfile #emptyListPic {
        height: 200px;
        width: 250px;
    }
    body#userProfile #startShopping {
        font-size: 10px;
    }
    body#userProfile #noOrderHistory {
        border: 1px solid grey;
        margin-top: 20px;
        font-size: 16px;
    }
    body#userProfile #userTabs {
        font-size: 10px;
    }
    body#userProfile #username {
        font-size: 11px;
    }
    body#userProfile .itemList {
        font-size: 14px;
    }
}
@media (min-width: 575px) {
    body#userProfile #emptyListPic {
        height: 250px;
        width: 300px;
    }
    body#userProfile #startShopping {
        font-size: 12px;
    }
    body#userProfile #noOrderHistory {
        margin-top: 20px;
        font-size: 18px;
    }
    body#userProfile #userTabs {
        font-size: 9px;
    }
    body#userProfile #username {
        font-size: 11px;
    }
    body#userProfile .itemList {
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    body#userProfile #emptyListPic {
        height: 270px;
        width: 330px;
    }
    body#userProfile #startShopping {
        font-size: 12px;
    }
    body#userProfile #noOrderHistory {
        margin-top: 20px;
        font-size: 20px;
    }
    body#userProfile #userTabs {
        font-size: 11px;
    }
    body#userProfile #username {
        font-size: 12px;
    }
    body#userProfile .itemList {
        font-size: 15px;
    }
}
@media (min-width: 992px) {
    body#userProfile #emptyListPic {
        height: 300px;
        width: 350px;
    }
    body#userProfile #startShopping {
        font-size: 14px;
    }
    body#userProfile #noOrderHistory {
        font-size: 25px;
    }
    body#userProfile #userTabs {
        font-size: 12px;
    }
    body#userProfile #username {
        font-size: 13px;
    }
    body#userProfile .itemList {
        font-size: 16px;
    }
}
@media (min-width: 1200px) {
    body#userProfile #emptyListPic {
        height: 350px;
        width: 450px;
    }
    body#userProfile #startShopping {
        font-size: 15px;
    }
    body#userProfile #noOrderHistory {
        font-size: 30px;
    }
    body#userProfile #userTabs {
        font-size: 14px;
    }
    body#userProfile #username {
        font-size: 15px;
    }
    body#userProfile .itemList {
        font-size: 18px;
    }
}
